<%= form_for(@task) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

<br />
<div class="text-center">
  <h2><small>
  <div>
    <%=f.label :title %> </br>
    <%=f.text_field :title %>
  </div>
  <br />

  <div>
    <%=f.label :location %> </br>
    <%=f.text_field :location %>
  </div>
  <br />

  <div>
    <%=f.label :due_at %> </br>
    <%=f.date_field :due_at %>
  </div>
  <br />

  <div>
    <%=f.label :completed %> </br>
    <%=f.check_box :completed %>
  </div>
  <br />

  <div>
    <%= f.submit 'Save', class: "btn btn-lg btn-info" %>
  </div>
</small></h2>
</div>

<% end %>

